version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "yearly"

  - package-ecosystem: "npm"
    directory: "/e2e"
    schedule:
      interval: "yearly"
